---
import Layout from '../layouts/Layout.astro';
import FooterSocials from '../components/FooterSocials.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro'; 
import SunmiRedirect from '../components/SunmiRedirect.astro'; 
import MiWifiRedirect from '../components/MiWiFiRedirect.astro'; 
---

<Layout title="Fix Group">
  <header>
    <LandingHeader />
  </header>

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <!-- HERO PRINCIPAL -->
    <div class="snap-center">
      <HeroSection />
    </div>

    <!-- DISTRIBUIDOR SUNMI -->
    <div class="snap-center">
      <SunmiRedirect />
    </div>

    <!-- MIWIFI MARKETING SECTION -->
    <div class="snap-center">
      <MiWifiRedirect />
    </div>
  </main>

  <footer>
    <FooterSocials />
  </footer>
</Layout>
