---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<Layout title="Infraestrucrtura IT">
  <main>
    <header>
        <LandingHeader />
    </header>

    <section class="bg-black h-screen w-screen text-center relative overflow-hidden flex justify-center">
      <div class="z-30 relative h-full flex flex-col flex-grow">
        <header class="text-center">
          <div>
            <h2 class="text-white pt-40 text-5xl text-[40px] font-medium" style="line-height: 1.8;">
              Infraestrucrtura IT
            </h2>
          </div>
        </header>
        <body class="flex">
          <p class="text-white text-2xl font-medium text-left px-20 py-10 " style="line-height: 1.8;">
            La infraestructura de tecnología de la información (IT)  <br>
            se refiere al conjunto de recursos físicos y virtuales, <br>
            así como a los servicios necesarios para el funcionamiento,  <br>
            gestión y soporte de los sistemas de información y  <br>
            las operaciones tecnológicas de una organización. 
          </p>
          <div class="ml-auto mr-10 flex mt-[-350px] py-20 px-20">
            <img src="images/servidor.jpg" alt="" class="max-w-md" >
          </div>
          
        </body>
      </div>
    </section>
</main>

</layout>
