---
import Section from "./Section.astro"
import FooterMenu from "./FooterMenu.astro";
---

<Section
  id="Centros"
  class="landing-section"
  title="Centros de Misión Critica"
  subtitle=""
  color="white"
  slot="background"
  bg-black
>

<div slot="footer">
  <a href="/CentrosMisionCritica"
    class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
  >
    Más información
  </a>
</div>

<img 
slot="background"
class="object-center object-cover h-full w-full opacity-50"
src="images/image-misioncritica.jpg" alt="">



  <FooterMenu />

</Section>
