<footer
	class="py-2 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-600 text-xs font-medium"
	id="landing-footer"
>
	<nav>
		<ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
			<li><a href="#">FIX GROUP © 2023</a></li>
            <li><a href="#">Privacidad y legal</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Noticias</a></li>
		</ul>
	</nav>
</footer>