---
import IconHome from '../components/IconHome.astro';
import IconInstagram from '../components/IconInstagram.astro';
import IconFacebook from '../components/IconFacebook.astro';
import IconTwitter from '../components/IconTwitter.astro';
---
<footer>
	<div class="py-3 px-8 fixed bottom-0 w-full z-40">
		<nav>
			<div class="flex flex-grow justify-start space-x-6">
				<a href="#" class="text-white hover:text-gray-800"> 
					<IconHome class="w-6 h-6" />
				</a>
				<a href="#" class="text-white hover:text-gray-800"> 
					<IconTwitter class="w-6 h-6" />
				</a>
				<a href="#" class="text-white hover:text-gray-800"> 
					<IconFacebook class="w-6 h-6" />
				</a>
				<a href="#" class="text-white hover:text-gray-800"> 
					<IconInstagram class="w-6 h-6" />
			</div>
		</nav>
	</div>
</footer>